*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

overflow-x:hidden;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 10%;

}

.logo{

font-size:30px;

font-weight:700;

}

.logo span{

color:#00d4ff;

}

nav ul{

display:flex;

gap:40px;

list-style:none;

}

nav a{

text-decoration:none;

color:white;

font-weight:500;

transition:.3s;

}

nav a:hover{

color:#00d4ff;

}

.btn{

padding:12px 28px;

background:#00d4ff;

border-radius:50px;

text-decoration:none;

color:black;

font-weight:600;

transition:.3s;

}

.btn:hover{

background:white;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px 10%;

min-height:80vh;

}

.content{

width:50%;

animation:slide 1s;

}

.content h1{

font-size:58px;

line-height:1.2;

}

.content span{

color:#00d4ff;

}

.content p{

margin:25px 0;

font-size:18px;

opacity:.85;

}

.buttons{

display:flex;

gap:20px;

}

.btn2{

padding:12px 28px;

border:2px solid white;

border-radius:50px;

text-decoration:none;

color:white;

}

.btn2:hover{

background:white;

color:black;

}

.image{

width:45%;

}

.image img{

width:100%;

animation:float 3s infinite;

}

.features{

display:flex;

justify-content:center;

gap:30px;

padding:80px 10%;

}

.card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

padding:40px;

border-radius:20px;

text-align:center;

width:300px;

transition:.4s;

}

.card:hover{

transform:translateY(-15px);

background:#00d4ff;

color:black;

}

.card i{

font-size:45px;

margin-bottom:20px;

}

footer{

padding:30px;

text-align:center;

background:#08131a;

}

@keyframes float{

0%{transform:translateY(0);}
50%{transform:translateY(-20px);}
100%{transform:translateY(0);}

}

@keyframes slide{

from{

transform:translateX(-80px);

opacity:0;

}

to{

transform:translateX(0);

opacity:1;

}

}

@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

}

.content{

width:100%;

}

.image{

width:90%;

margin-top:50px;

}

.features{

flex-direction:column;

align-items:center;

}

nav ul{

display:none;

}

}